/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Nunito:400|Oswald:400,500|Barlow:400,700&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  line-height: 1.41;
  color: #1c5295;
}
body,
p {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.41;
  color: #707070;
}
h1 {
  font-size: 34px;
}

.accent {
  color: #cf1d1d;
}

/* Body */

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.text-center {
  text-align: center;
}
/* Header */
.top-header {
  background-color: #1c5295;
  width: 100%;
}
.top-header > img {
  margin: 0 auto;
  display: block;
}
.bottom-header {
  text-align: center;
  background: url(img/header-redbar.png) repeat center center;
}
.bottom-header .tagline {
  background-color: #cf1d1d;
  padding: 5px 15px 2px;
  width: 100%;
  max-width: 230px;
  display: block;
  margin: 0px auto;
}

/* Dropzone */
.container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  /* max-width: 720px; */
  min-height: calc(98vh - 90px);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.inner-container {
  margin-top: 45px;
  transition: 0.3s;
  max-width: 720px;
}

.interactive-container {
  position: relative;
  height: 380px;
}

.container.final-scene {
  background-color: #fff;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  height: 100%;
  z-index: 99;
  margin-top: 90px;
}

.container.final-scene.current {
  visibility: visible;
  opacity: 1;
}

.final-scene h1 {
  font-size: 30px;
}

.final-scene h2 {
  font-weight: 400;
}

.final-scene p {
  font-size: 14px;
}

.final-scene img {
  margin: 0 auto;
}

.drop-here-wrapper {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  transition: 0.3s;
  text-align: center;
}

.drop-here {
  background-color: #1c5295;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.drop-here-text {
  color: #fff;
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transition: 0.3s;
}

.dragNdrop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  width: 150px;
  height: auto;
  touch-action: none;
  user-select: none;
}

.dragNdrop > img {
  pointer-events: none;
  margin: auto;
}

.activate {
  transform: translate(-50%, -50%) scale(1.53);
  /* transform: translate(-50%, -50%); */
}

.activate .drop-here {
  background-color: #cf1d1d;
}

/* iPhone|iPad|iPod */
[data-platform*='iPhone'] .activate,
[data-platform*='iPad'] .activate,
[data-platform*='iPod'] .activate {
  transform: translate(-50%, -50%) scale(1) !important;
  transition: 0s;
}

[data-platform*='iPhone'] .drop-here,
[data-platform*='iPad'] .drop-here,
[data-platform*='iPod'] .drop-here {
  transition: all 0.3s;
}

[data-platform*='iPhone'] .activate .drop-here,
[data-platform*='iPad'] .activate .drop-here,
[data-platform*='iPod'] .activate .drop-here {
  transform: scale(1.53);
}

.dropped-false {
  animation: dropped-false 0.75s;
  /* animation-name: dropped-false;
  animation-duration: .75s; */
}

@keyframes dropped-false {
  0% {
    transform: translate(-50%, -50%) scale(1.53);
  }
  25% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.3);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.dropped-true {
  animation: dropped-true 0.75s, after-dropped-true 0.25s 0.75s;
  transform: translate(-50%, -50%) scale(1.7);
}

@keyframes dropped-true {
  0% {
    transform: translate(-50%, -50%) scale(1.53);
  }
  25% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.53);
  }
}

@keyframes after-dropped-true {
  0% {
    transform: translate(-50%, -50%) scale(1.53);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.7);
  }
}

.target-true {
  animation: target-true 0.75s, after-target-true 0.25s 0.75s;
  transform: translate(-50%, -50%) scale(1.3) !important;
  z-index: 3;
}

[data-platform*='iPhone'] .target-true,
[data-platform*='iPad'] .target-true,
[data-platform*='iPod'] .target-true {
  animation: none !important;
  transform: translate(-50%, -50%) !important;
}

@keyframes target-true {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  25% {
    transform: translate(-50%, -50%) scale(0.001);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.6);
  }
}

@keyframes after-target-true {
  0% {
    transform: translate(-50%, -50%) scale(1.6);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.3);
  }
}

.activated {
  background-color: #29e;
}

.firework {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.001);
  z-index: 2;
}

.firework-animate {
  animation: firework-animate 0.75s, after-firework-animate 0.25s 0.75s;
  /* opacity: 1;
  transform: translate(-50%, -50%) scale(1.2); */
}

@keyframes firework-animate {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.001);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2);
  }
}

@keyframes after-firework-animate {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.001);
  }
}

[id='answer-text'] {
  opacity: 0;
  text-align: center;
  transform: translateY(10px);
  transition: all 0.5s 0.75s;
}

.show-text {
  opacity: 1;
  transform: translateY(0);
}

.hide-not-true {
  opacity: 0;
  pointer-events: none;
}

.changing-scene {
  animation: changeSceneStep1 0.75s, changeSceneStep2 0.75s 0.75s;
}

@keyframes changeSceneStep1 {
  0% {
    /* transform: translateX(0); */
    transform: scale(1);
    opacity: 1;
  }
  100% {
    /* transform: translateX(-100%); */
    transform: scale(10);
    opacity: 0;
  }
}
@keyframes changeSceneStep2 {
  0% {
    /* transform: translateX(100%); */
    transform: scale(10);
    opacity: 0;
  }
  100% {
    /* transform: translateX(0); */
    transform: scale(1);
    opacity: 1;
  }
}

/* Footer */
.main-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
  padding: 5px;
  bottom: 0;
  width: 100%;
  left: 0;
  max-width: 720px;
}
.main-footer .footer-logo {
  margin: 5px auto;
  width: 100%;
  max-width: 115px;
  height: auto;
}
.btn-direction {
  cursor: pointer;
  height: 18px;
  width: auto;
  transition: all 0.3s;
  opacity: 1;
  visibility: visible;
}
.btn-direction:hover {
  opacity: 0.8;
}
.hide-next,
.btn-direction.back[data-current-scene='0'] {
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 767px) {
  .dragNdrop {
    width: 115px;
    height: 115px;
  }
  [id='question-text'] {
    font-size: 25px;
  }
}
