/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Nunito:400|Oswald:500|Barlow:400,700&display=swap');

h1 ,h2 ,h3 ,h4 ,h5 ,h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  line-height: 1.41;
  color: #1C5295;
}
body, p {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.41;
  color: #707070;
}
h1 {
  font-size: 34px;
}


/* Body */

body,html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.text-center {
  text-align: center;
}
/* Header */
.top-header {
  background-color: #1C5295;
  width: 100%;
}
.top-header > img {
  margin: 0 auto;
  display: block;
}
.bottom-header {
  text-align: center;
  background: url(img/header-redbar.png) repeat center center;
}
.bottom-header .tagline {
  background-color: #CF1D1D;
  padding: 5px 15px 2px;
  width: 100%;
  max-width: 230px;
  display: block;
  margin: 0px auto;
}

/* Dropzone */
.container {
  width: 100%;
  max-width: 720px;
  min-height: 98vh;
  margin: 0 auto;
  position: relative;
}

.dragNdrop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}

.animate-drop {
  transition: all 0.3s;
  animation: drop .3s;
}

@keyframes drop {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.drop-here {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1C5295;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: .3s;
  text-align: center;
}

.drop-here-text {
  color: #fff;
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transition: .3s;
}

.activate {
  background-color: #CF1D1D;
  transform: translate(-50%, -50%) scale(1.53);
}

.dropped-false {
  animation-name: dropped-false;
  animation-duration: .75s;
}

@keyframes dropped-false {
  0% {
    transform: translate(-50%, -50%) scale(1.53);
  }
  25% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.3);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.dropped-true {
  animation: dropped-true .75s, after-dropped-true .25s .75s;
  transform: translate(-50%, -50%) scale(1.7);
}

@keyframes dropped-true {
  0% {
    transform: translate(-50%, -50%) scale(1.53);
  }
  25% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.53);
  }
}

@keyframes after-dropped-true {
  0% {
    transform: translate(-50%, -50%) scale(1.53);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.7);
  }
}

.target-true {
  animation: target-true .75s, after-target-true .25s .75s;
  z-index: 3;
}

@keyframes target-true {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  25% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.6);
  }
}

@keyframes after-target-true {
  0% {
    transform: translate(-50%, -50%) scale(1.6);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.3);
  }
}

.activated {
  background-color: #29e;
}

.firework {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  z-index: 2;
}

.firework-animate {
  animation: firework-animate .75s, after-firework-animate .25s .75s;
  /* opacity: 1;
  transform: translate(-50%, -50%) scale(1.2); */
}

@keyframes firework-animate {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2);
  }
}

@keyframes after-firework-animate {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
}

/* Footer */

.main-footer {
  text-align: center;
  padding: 5px;
}
.main-footer .footer-logo {
  margin: 5px auto;
}